[submodule "toolchain/binutils-gdb"]
	path = toolchain/binutils-gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "toolchain/gcc"]
	path = toolchain/gcc
	url = https://gcc.gnu.org/git/gcc.git
